2_CapaServiciosGM/Service References/SKA_Access/WebServicesSecurity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Parametros" type="s:string" />
      <s:element name="ArchivoXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EEResponse" type="tns:EResponse" />
            <s:element minOccurs="0" maxOccurs="1" name="EAutorizacionLst" type="tns:ArrayOfEAutorizacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Status">
        <s:restriction base="s:string">
          <s:enumeration value="Ok" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfEAutorizacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EAutorizacion" nillable="true" type="tns:EAutorizacion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EAutorizacion">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseXml">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Orden" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Parametro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseXml" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getListaSoapIn">
    <wsdl:part name="Parametros" element="tns:Parametros" />
  </wsdl:message>
  <wsdl:message name="getListaSoapOut">
    <wsdl:part name="getListaResult" element="tns:ArchivoXML" />
  </wsdl:message>
  <wsdl:portType name="WebServicesSecuritySoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLista">
      <wsdl:input message="tns:getListaSoapIn" />
      <wsdl:output message="tns:getListaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicesSecuritySoap" type="tns:WebServicesSecuritySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLista">
      <soap:operation soapAction="getLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicesSecuritySoap12" type="tns:WebServicesSecuritySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLista">
      <soap12:operation soapAction="getLista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicesSecurity">
    <wsdl:port name="WebServicesSecuritySoap" binding="tns:WebServicesSecuritySoap">
      <soap:address location="http://svsiwnapdev01/wsSecurity/WebServicesSecurity.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicesSecuritySoap12" binding="tns:WebServicesSecuritySoap12">
      <soap12:address location="http://svsiwnapdev01/wsSecurity/WebServicesSecurity.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>